@{
    ViewData["Title"] = "Error";
}

<div class="launch-container">
    <div class="card">
        <h1 class="card-title">
            <span class="icon">&#9888;</span>
            Oops! Something went wrong
        </h1>
        <p style="color: var(--text-secondary); margin-bottom: 2rem;">
            Don't worry, even the best snow stackers slip sometimes!
        </p>
        <a href="/" class="start-button" style="display: inline-block; text-decoration: none; text-align: center;">
            Back to Home
        </a>
    </div>
</div>
